* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  background: #f3f3f3;
}
table {
  width: 100%;
  border-collapse: collapse;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f3f3f3;
  box-shadow: 10px 10px 20px #cfcfcf, -10px -10px 20px #ffffff;
}
tr th {
  padding: 12px 4px;
  background: #2980b9;
  text-align: left;
  color: #fff;
}
tr td {
  padding: 8px 10px;
}
tr td:first-child {
  padding: 8px 16px 8px 16px;
  text-align: center;
}
tr td:nth-child(2) {
  width: 50px;
}
tr td:nth-child(3) {
  width: 60%;
}
tr td:nth-child(4) {
  width: 30%;
}
tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.025);
}
tr td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.button__container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  align-items: center;
}
.button__container button,
.del__button {
  margin: 8px;
  background: transparent;
  border: 1px solid #3498db;
  color: #3498db;
  transition: 0.4s;
  padding: 12px 24px;
  font-size: 1em;
}
.button__container button:hover {
  background: #3498db;
  color: #fff;
  cursor: pointer;
}
.table__wrapper {
  padding: 20px;
}
.detail__section {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.6);
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
  background: #ddd;
  color: #ddd;
}
.del__button {
  background: #e74c3c;
  color: #fff;
  border: none;
  cursor: pointer;
}
